body {
  margin: 0; /* Eltávolítja az alapértelmezett margót */
  padding: 0; /* Eltávolítja az alapértelmezett belső margót */
  font-family: Arial, sans-serif; /* Betűtípus */
  background-color: #f5f5f5; /* Háttérszín */
  color: #333; /* Szöveg színe */
}

/* Elemek közötti általános margók */
.container {
  margin: 20px;
}

/* Elemek közötti általános padding */
.padding {
  padding: 20px;
}
